
[submodule "vimfiles/bundle/vim-rails"]
	path = vimfiles/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/LargeFile"]
	path = vimfiles/bundle/LargeFile
	url = git://github.com/vim-scripts/LargeFile.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/checksyntax_vim"]
	path = vimfiles/bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "vimfiles/bundle/vim-git"]
	path = vimfiles/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-ragtag"]
	path = vimfiles/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/textile.vim"]
	path = vimfiles/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "vimfiles/bundle/VimCalc"]
	path = vimfiles/bundle/VimCalc
	url = git://github.com/gregsexton/VimCalc.git
[submodule "vimfiles/bundle/vim-coffee-script"]
	path = vimfiles/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vimfiles/bundle/TwitVim"]
	path = vimfiles/bundle/TwitVim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "vimfiles/bundle/scala-vim-support"]
	path = vimfiles/bundle/scala-vim-support
	url = git://github.com/rosstimson/scala-vim-support.git
[submodule "vimfiles/bundle/vim-extradite"]
	path = vimfiles/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vimfiles/bundle/jshint.vim"]
	path = vimfiles/bundle/jshint.vim
	url = https://github.com/manalang/jshint.vim.git
[submodule "vimfiles/bundle/NrrwRgn"]
	path = vimfiles/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "vimfiles/bundle/csv.vim"]
	path = vimfiles/bundle/csv.vim
	url = git://github.com/vim-scripts/csv.vim.git
[submodule "extra/oh-my-zsh"]
	path = extra/oh-my-zsh
	url = git@github.com:smith/oh-my-zsh.git
[submodule "vimfiles/bundle/tslime.vim"]
	path = vimfiles/bundle/tslime.vim
	url = git://github.com/jgdavey/tslime.vim.git
[submodule "vimfiles/bundle/VimClojure"]
	path = vimfiles/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
