
[submodule "vimfiles/bundle/vim-rails"]
	path = vimfiles/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/Conque-Shell"]
	path = vimfiles/bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/LargeFile"]
	path = vimfiles/bundle/LargeFile
	url = git://github.com/vim-scripts/LargeFile.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/checksyntax_vim"]
	path = vimfiles/bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "vimfiles/bundle/vim-git"]
	path = vimfiles/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-ragtag"]
	path = vimfiles/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/TaskList.vim"]
	path = vimfiles/bundle/TaskList.vim
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vimfiles/bundle/vim-css-color"]
	path = vimfiles/bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-markdown-preview"]
	path = vimfiles/bundle/vim-markdown-preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
