
[submodule "vimfiles/bundle/vim-rails"]
	path = vimfiles/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/LargeFile"]
	path = vimfiles/bundle/LargeFile
	url = git://github.com/vim-scripts/LargeFile.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/checksyntax_vim"]
	path = vimfiles/bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "vimfiles/bundle/vim-git"]
	path = vimfiles/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-ragtag"]
	path = vimfiles/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/TaskList.vim"]
	path = vimfiles/bundle/TaskList.vim
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vimfiles/bundle/vim-css-color"]
	path = vimfiles/bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/gist-vim"]
	path = vimfiles/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vimfiles/bundle/ManPageView"]
	path = vimfiles/bundle/ManPageView
	url = git://github.com/vim-scripts/ManPageView.git
[submodule "vimfiles/bundle/PickAColor"]
	path = vimfiles/bundle/PickAColor
	url = git://github.com/Raimondi/PickAColor.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/bufexplorer"]
	path = vimfiles/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vimfiles/bundle/vim-rooter"]
	path = vimfiles/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vimfiles/bundle/Conque-Shell"]
	path = vimfiles/bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/taskpaper.vim"]
	path = vimfiles/bundle/taskpaper.vim
	url = git://github.com/davidoc/taskpaper.vim.git
[submodule "vimfiles/bundle/Align"]
	path = vimfiles/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "vimfiles/bundle/vim-indent-guides"]
	path = vimfiles/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/textile.vim"]
	path = vimfiles/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "vimfiles/bundle/VimCalc"]
	path = vimfiles/bundle/VimCalc
	url = git://github.com/gregsexton/VimCalc.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	path = vimfiles/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/vim-ruby-runner"]
	path = vimfiles/bundle/vim-ruby-runner
	url = git://github.com/henrik/vim-ruby-runner.git
[submodule "vimfiles/bundle/vim-coffee-script"]
	path = vimfiles/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vimfiles/bundle/TwitVim"]
	path = vimfiles/bundle/TwitVim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "vimfiles/bundle/scala-vim-support"]
	path = vimfiles/bundle/scala-vim-support
	url = git://github.com/rosstimson/scala-vim-support.git
[submodule "vimfiles/bundle/vim-quickrun"]
	path = vimfiles/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vimfiles/bundle/vim-extradite"]
	path = vimfiles/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vimfiles/bundle/MailApp"]
	path = vimfiles/bundle/MailApp
	url = git://github.com/vim-scripts/MailApp.git
[submodule "vimfiles/bundle/jshint.vim"]
	path = vimfiles/bundle/jshint.vim
	url = https://github.com/manalang/jshint.vim.git
[submodule "vimfiles/bundle/browser-refresh.vim"]
	path = vimfiles/bundle/browser-refresh.vim
	url = git://github.com/mkitt/browser-refresh.vim.git
[submodule "vimfiles/bundle/NrrwRgn"]
	path = vimfiles/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
